.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.container {
  padding-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.slick-slide img {
  margin: auto;
}
